body {
    font-family: Verdana ,Helvetica, Arial, sans-serif;
    letter-spacing: 2px;    
    background: #e8e8e8;
}

.elmenu li {
    display: inline;
}

.elmenu {
    width: 100vw;
    height: 10vh;
    padding: 10vw;
    
}

.cajaSuperior li {
    display: inline;
}

.cajaSuperior {
    width: 100vw;
    height: 100vh;
    background-image: url(imgs/fondo.jpg);
    background-size: cover; 
    padding: 10vw;
}

.cajaCentral {
    height: 100vh;
    padding: 15vw;
}

.cajaCasiInferior {
    height: 100vh;
    font-size: 26px;
}

.cajaInferior {
    background-color: black;
    background-size: cover;
    margin-top: 50vw;
}

.cajaInferior li{
    font-size: 35px;
}

h1 {
    font-size: 84px;
    line-height: 94px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    font-size: 22px;
    color: darkgray;
}

p {
    font-size: 30px;
    line-height: 55px;
    font-weight: 100px;
}

ul {
    list-style: none; 
    padding: 10vw;
}

li {
    padding: 10px;
    color: darkgray;
}

a {
    text-decoration: none;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
    font-size: 38px;
}

a:hover {
    color: white;
}

a:hover.enlace {
    text-decoration: underline;
    color: darkgreen;
}

a:hover.noenlace {
    text-decoration: line-through;
    color: red;
}