body {
    font-family: Verdana ,Helvetica, Arial, sans-serif;
    letter-spacing: 1px; 
}

.enlaces li {
    display: inline;
    text-align: center;
}

.enlaces{
    margin-bottom: 6vw;
}

li {
    padding: 2vw;
    color: darkgray;
}

ul {
    list-style: none; 
    padding: 28vw;
    text-align: center;
}

a {
    text-decoration: none;
    outline: none;
    color: rgb(250, 165, 86);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

a:hover {
    color: rgb(27, 78, 189);
}

a:hover.enlace {
    text-decoration: underline;
    color: black;
}

.titulares{
    color: azure;
    width: 80vw;
    height: 37vh;
    background-size: cover; 
    margin-top: 0;
    margin-bottom: 4vw;
    padding: 10vw;
}