body {
    font-family: Verdana ,Helvetica, Arial, sans-serif;
    letter-spacing: 1px; 
}

h1 {
    font-size: 65px;
    font-family: serif;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 4vw;
    text-align: center;
}

h2 {
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 1vw;
    text-align: center;
    padding: 2vw;
}

li {
    padding: 10px;
    color: darkgray;
}

ul {
    list-style: none; 
    padding: 10vw;
}

a {
    text-decoration: none;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
    font-size: 38px;
}

a:hover {
    color: white;
}

a:hover.enlace {
    text-decoration: underline;
    color: darkgreen;
}
