*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    filter: saturate(1);
}

a:hover img {
    filter: saturate(0);
}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    margin-left: 7vw;
    margin-right: 7vw;
}

.column{
    flex: 25%;
    padding: 5px;
}

.column img{
    margin-top: 5px;
}

@media (max-width: 600px) {
    .column{
        flex: 50%;
    } 
}

@media (max-width: 600px) {
    .column{
        flex: 100%;
    } 
}

h1 {
    text-align: center;
    font-size: 55px;
    font-family: "Arial Black", sans-serif;
    padding-top: 3vw;
}

h2 {
    text-align: center;
    font-size: 28px;
    color: rgb(59, 61, 63);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 6vw;
}